{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block head_content %}
<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6">
            </div>
            <div class="col-12">
                <div class="header-content ml-auto">
                    <div class="header-text">
                        <h1 id="hp-header-h1">Welcome</h1>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Customer review section -->
<div class="container review-container animation-element">
    <div class="row">
        <div class="col flex-center">
            <div class="col review-title">
                <h2>Rated Excellent by you</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I love Abode.com my armchair arrived on time and looks amazing in my living area. Would highly
                    recomend them.
                </p>
                <p><strong>Louise Carter</strong> Wicklow</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I purchased a sofa from Abode and it is excellent The quality and design are amazing and it is very
                    comfortable. I would 100% buy from here again.
                </p>
                <p><strong>Stephen Moran</strong> Dublin</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I recently renovated my home and have bought several items from Abode. I really cannot fault them,
                    everting from delivery, quality and design is excellent
                </p>
                <p><strong>Lyndsay Forde</strong> Waterford</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'our_reviews' %}" class="flex-center link-button link-button-dark  mt-5 mb-4 mx-auto">
                See all Reviews</a>
        </div>
    </div>
</div>
{% endblock %}