{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block head_content %}
<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6">
            </div>
            <div class="col-12">
                <div class="header-content ml-auto">
                    <div class="header-text">
                        <h1 id="hp-header-h1">Welcome</h1>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog section -->
<div class="container-fluid blog-homepage-container animation-element">
    <div class="row">
        <div class="category-title-col col-12 ">
            <h2>Get Inspired by our latest blog posts.</h2>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-12 col-md-6 col-lg-4 item-col">
            <div class="blog-item-container flex-center">
                <div class="blog-image-container">
                    {% if post.image %}
                        <a href="{% url 'view_post' post.id %}">
                            <img src="{{ MEDIA_URL }}{{ post.image }}" alt="image for {{ item.title }}">
                        </a>
                    {% else %}
                        <a href="{% url 'view_post' post.id %}">
                            <img src="{{ MEDIA_URL }}no_image.png" alt="No image found for {{ post.title }}">
                        </a>
                    {% endif %}
                    <div class="blog-item-details blog-homepage-details">
                        <h2 class="text-center">{{post.title}}</h2>
                        <a href="{% url 'view_post' post.id %}"
                            class="item-link-light item-link-button  flex-center">Read More ...
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <a href="{% url 'view_blog' %}" class="flex-center link-button link-button-dark  mt-5 mb-4 mx-auto">
                    All Blog Posts
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}