{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block head_content %}
<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6">
            </div>
            <div class="col-12">
                <div class="header-content ml-auto">
                    <div class="header-text">
                        <h1 id="hp-header-h1">Welcome</h1>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="rounded">
<!-- Customer review section -->
<div class="container review-container animation-element">
    <div class="row">
        <div class="col flex-center">
            <div class="col review-title">
                <h2>Rated Excellent by you</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>
                    My dog looks adorable in his new coat, fast speedy delivery, great quality not disappointed at all, will certainly keep him warm
                </p>
                <p><strong>Annette</strong> Gilfach Goch</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>
                    such beautiful designs! I’ve been looking for a sheep design harness for my beautiful border collie for a while but prices were way over my budget! 
                    These are amazing quality and the price range is cheaper than most retailers out there.
                </p>
                <p><strong>Jade</strong> Gilfach Goch</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>
                    Great customer service from the seller as I ordered the wrong size, they were quick to help sort this. Harness is great quality and looks lovely!
                </p>
                <p><strong>Luke</strong> Rhondda Cynon Taff</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'our_reviews' %}" class="flex-center link-button link-button-dark  mt-5 mb-4 mx-auto">
                See all Reviews</a>
        </div>
    </div>
</div>
<hr class="rounded">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 half-left ">
            <img src="{{ MEDIA_URL }}homepage/harness-rack.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 half-right">
            <div class="container">
                <div class="row">
                    <!--- paragraph --->
                    <div class="col-sm-12">
                        <h2 class="hand-picked">Hand picked items</h2>
                        <p class="section-2-p">
                            Welcome to Hanks Dog Parlour, the place for clothing and accessories for dog lovers and thier dogs.
                            We produce dog-themed products for you and your dog which are both stylish and practical.
                            We are proud to offer high quality dog-inspired apparel at affordable prices. Most products come
                            in a variety of sizes and styles for the perfect gift fot any owner.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="rounded">

<!-- Footer -->
{% include 'includes/footer.html' %}
{% endblock %}